@charset "utf-8";
/* CSS Document */


.page-context-header  {
    width: 100%;
    background-color: #fff;
    background-image: url(https://virtual.flacso.org.ar/theme/gflacso/vale/humanitaria/banner-GRANDE.jpg)!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
            display: flex;
    justify-content: flex-end;
    align-items: center;

}
    
.page-context-header:before {
    content: "";
    float: left;
    padding-bottom: 8.2%;
  }

.page-context-header:after {
    content: "";
    display: table;
    clear: both;
  }
.page-header-headings.titulo_curso.medium, .page-header-headings.titulo_curso.big  {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.titulo_curso h2, .titulo_curso h1
{
    text-align: right!important;
    font-family: 'Roboto Condensed' !important;
    color: #fff !important;
    font-size: 2.1vw !important;
    font-weight: 400 !important;
    padding-right: 2%!important;
    margin: 0px !important;
    border-radius: 0px !important;
    background: none;
    line-height: 110%!important;
    max-width: 55%;
    min-width: 470px;
}

#region-main
{
    border:none;
    padding: 0 !important;
    background-color: transparent !important;
}


/* Navegación */

@media screen and (min-width: 768px) {
    .nav.nav-tabs.mb-3
    {
    margin: 0!important;
    padding: 0 !important;
    }
}

.nav.nav-tabs.mb-3 {
    text-align: center!important;
    display: block!important;
    font-family: 'Roboto condensed'!important;
    font-size: 16px!important;
}

.nav.nav-tabs.mb-3 .nav-item {
    margin: 0 0 4px 0!important;
    padding: 0!important;
    display: inline-block!important;
    cursor: pointer!important;
    color: #000 !important;
    background-color: #99d6ff !important;
}

.nav.nav-tabs.mb-3 .nav-item a {
    padding: 10px!important;
    display: block!important;
    color: #000!important;
    background-color: #99d6ff;
    border: 2px solid #01548C!important;
}

.nav.nav-tabs.mb-3 .nav-item a:hover { 
    background-color: #01548C!important;
    color: #fff!important;
    text-decoration: none!important;
    font-weight: 600!important;
}

.nav.nav-tabs.mb-3 .nav-item a.active {
    background-color: #ECA054!important;
    color: #383838!important;
    text-decoration: none!important;
    font-weight: 600!important;
    border: 2px solid #ECA054!important;
}

    
@media only screen and (max-width: 768px) {
     .page-context-header {
        background-color: #01548C;
        background-image: none!important;
}
    
    .titulo_curso h2, .titulo_curso h1 {
       font-weight: 400 !important;
    padding-left: 0!important;
    padding-right: 2%!important;
    text-align: center!important;
    max-width: 100%;
    float: none;
       }
}
    
    /**
 * 03. CRONOGRAMA
 *
 * -------------------------------------------------------------------
 */


.vtl {
  position: relative;
  padding: 10px 0px 10px 26px;
  max-width: 200px;
    line-height: 130%!important;
}

.vtl::before {
  content: '';
  width: 5px;
  background-color: #ECA054;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
}
div.ewrap {
  padding: 10px 0;
  position: relative;
  width: 100%;
}

div.event {
  padding: 5px 10px;
  background-color: #99d6ff;
  position: relative;
  border-radius: 6px;
}

strong.date {
  font-size: 1.1em;
  font-weight: bold;
color: #01548C;}
p.text {
  margin: 0;
      color: #383838;
        font-size: 1em!important;
}
div.ewrap::before {
  content: '';
  border: 5px solid transparent;
  border-left-color: #ECA054;
  border-right: 0;
  position: absolute;
  top: 26%;
  left: -11px;
}

div.ewrap::after {
  content: '';
  background: #fff;
  border: 4px solid #ECA054;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  position: absolute;
  top: 22%;
  left: -26px;
}

    
.course-content ul.section .activity a .instancename {
    color: #ECA054;
        font-weight: bold;
}


.titulo {
    color: #01548C;
}


.presentacion {
    border-color: #01548C; 
}

/**
 * RECURSOS
 *
 * -------------------------------------------------------------------
 */

.recursos {
    max-width: 800px;
    margin: auto;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400!important;
    padding: 1em;
    color: #333;
    font-family: 'Roboto condensed';
}

.recursos h3 {
font-weight: 300;
    font-size: 1.5em;
    margin-top: 1.5em;
    line-height: 140%;
    color: #111;
}

.recursos p {
    font-weight: 400!important;
    margin-bottom: 0.5em;
}


.recursos a {
    color: #ECA054!important;
    font-weight: bold!important;
    padding-left: 2em!important;
    text-indent: -2em!important;
    display: inline-block;
    text-decoration: none !important;
}

.recursos a:hover, .recursos a:link,.recursos a:visited,.recursos a:active {
    font-size: 1em;
    text-decoration: none !important;
    border:none!important;
    text-decoration-line: none; 
}

.recursos a::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f138";
    padding-right: 1em;
  }

.recursos a::before:hover {
    color: #ECA054!important;
}

.recursos .note {
    background-color: #fff;
    border: 2px solid #01548C;
    color: #000;
    padding: 0 1em 1em 1em;
}



.section .activity .contentwithoutlink a, .section .activity .activityinstance a
{
    font-weight: 400;
    color: #ECA054;
}

.section .activity .contentwithoutlink a:hover, .section .activity .activityinstance a:hover
{
    font-weight: bold;
	color: #01548C !important; 
}


.path-mod-book .book_chapter_title, .path-mod-book .book_content>h3:first-child, .path-mod-book .book_content>h3:first-child  + h4 {
    color: #01548C!important;
}

.clase h1 {
    font-family: 'Roboto Condensed', sans-serif!important;
    font-size: 2.04762em!important;
	line-height: 3.238095em!important;
	margin-bottom: 1.714286em!important;
    color: #01548C!important;
    font-weight: 300!important;
}

.clase .title, .clase h2 , .clase h3, .clase .subtitulo, .clase h4, .clase h5 {
    color: #01548C!important;
}


.bio {
    background-color: #99d6ff;
    border: 2px solid #01548C;
    }

#region-main h2 {
    color: #ECA054;
}


/**
 * BIOS
 *
 * -------------------------------------------------------------------
 */

.bio {
    text-align: left;
    padding: 30px;
    font-size: 18px!important;
    line-height: 160%;
    text-align: left;
    background-color: #99d6ff;
    border: 2px solid #01548C;
    margin-bottom: 2em;
    }

.bio h4 {
    font-family: 'Roboto condensed';
    font-size: 1.5em;
    font-weight: 300;
    color: #01548C;
}

.bio p {
    font-family: 'Open Sans';
    color: #383838;
}
