@charset "utf-8";
/* CSS Document */


.d-flex {
  flex-wrap: wrap;
}

.path-course-view #page-header .context-header-right {
  width: 100%;
  margin-left: 0;
  padding-right: 15px;
}

@media (min-width: 1199px) {
.path-course-view #page-header .context-header-right {
  width: 100%;
  margin-left: 0;
  padding-right: 15px;

}
}


.page-context-header  {
    width: 100%;
    height: 7.5vw;
    background-color: #347692;
    background-image: url(https://virtual.flacso.org.ar/theme/gflacso/vale/ONU/banner-liderazgo.png)!important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
    
.page-context-header:before {
    content: "";
    float: left;
    padding-bottom: 8.2%;
  }

.page-context-header:after {
    content: "";
    display: table;
    clear: both;
  }


.page-header-headings.titulo_curso.medium, .page-header-headings.titulo_curso.big  {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.titulo_curso h2, .titulo_curso h1
{
    text-align: right!important;
    font-family: 'Roboto Condensed' !important;
    color: #fff !important;
    font-size: 2.1vw !important;
    font-weight: 400 !important;
    margin: 0px !important;
    border-radius: 0px !important;
    background: none;
    line-height: 110%!important;
    max-width: 60%;
    float: right;
}


@media only screen and (max-width: 768px) {
  .page-context-header {
     background-color: #347692;
     background-image: none!important;
}

.titulo_curso h2, .titulo_curso h1 {
  font-weight: 400 !important;
padding-left: 0!important;
padding-right: 2%!important;
text-align: center!important;
max-width: 100%;
float: none;
  }

  .titulo_curso h2, .titulo_curso h1 {
    font-size: 1.25em!important;
}

.page-header-headings.titulo_curso.medium, .page-header-headings.titulo_curso.big  {
    justify-content: center;    
}

}

#region-main
{
    border:none;
    padding: 0 !important;
    background-color: transparent !important;
}


/* Navegación */

@media screen and (min-width: 768px) {
    .nav.nav-tabs.mb-3
    {
    margin: 0!important;
    padding: 0 !important;
    }
}

.nav.nav-tabs.mb-3 {
    text-align: center!important;
    display: block!important;
    font-family: 'Roboto condensed'!important;
    font-size: 16px!important;
}

.nav.nav-tabs.mb-3 .nav-item {
    margin: 0 0 4px 0!important;
    padding: 0!important;
    display: inline-block!important;
    cursor: pointer!important;
    color: #000 !important;
    background-color: #C3E6ED !important;
}

.nav.nav-tabs.mb-3 .nav-item a {
    padding: 10px!important;
    display: block!important;
    color: #000!important;
    background-color: #C3E6ED;
    border: 2px solid #2D778F!important;
}

.nav.nav-tabs.mb-3 .nav-item a:hover { 
    background-color: #337691!important;
    color: #fff!important;
    text-decoration: none!important;
    font-weight: 600!important;
}

.nav.nav-tabs.mb-3 .nav-item a.active {
    background-color: #d200bd!important;
    color: #fff!important;
    text-decoration: none!important;
    font-weight: 600!important;
    border: 2px solid #d200bd!important;

}

    
@media only screen and (max-width: 768px) {
     .page-context-header {
        background-color: #2D778F;
        background-image: none!important;
}
    
    .titulo_curso h2, .titulo_curso h1 {
       font-weight: 400 !important;
    padding-left: 0!important;
    padding-right: 2%!important;
    text-align: center!important;
    max-width: 100%;
    float: none;
       }
}

.course-content ul.section .activity a .instancename {
    color: #d200bd;
        font-weight: bold;

}


/**
 * CRONOGRAMA
 *
 * -------------------------------------------------------------------
 */



.vtl {
  position: relative;
  padding: 10px 0;
  max-width: 350px;
    font-family: 'Roboto Condensed'!important;
}

.vtl::before {
  content: '';
  width: 3px;
  background-color: #2D778F;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
    z-index: 1;
}
div.ewrap {
  padding: 0 0 10px 0;
  position: relative;
  width: 100%;
}

div.event {
  padding: 3px 3px 3px 12px;
  background-color: #e0e0d1;
  position: relative;
    color: #2D778F;
}

strong.date {
  font-size: 1em;
  font-weight: bold;
  color: #333;

}
p.text {
  margin: 0;
      color: #2D778F;
        font-size: 1em!important;
        line-height: 140%;
    font-weight: normal;
}

#conversatorio {
  color: #800080!important;
}

#clase {
  background-color: #e0e0d1;
}

#magistral {
  background-color: #FFE97C;
}

#actividad {
  color: #d200bd;
}

div.ewrap::after {
  content: '';
  background: #2D778F;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  position: absolute;
  top: 7px;
  left: -4px;
    z-index: 2;
}


.numero {
    font-family: 'roboto slab';
    font-size: 1.8em;
    font-weight: 600;
    text-align: center;
    width: 1.4em;
    height: 1.4em;
    margin: auto;
    border: 3px solid #337691;
    border-radius: 50%;
    line-height: 1.2em;
    color: #fff;
    background-color: #d200bd;
    }