
* {
  margin: 0;
  padding: 0;
  
  -moz-padding-start: 0px;
-moz-margin-start: 0px;
}


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
}

#sbarGhost {
    display: none!important;
}
.row {
    
    margin-right: 0!important;
    margin-left: 0!important;
}


.col-12, .col-xs-12 {
    
    padding: 0;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}


.card-body {
    padding: 0;
}

.d-flex {
    flex-wrap: wrap;
}

.post-actions.d-flex.align-self-end.justify-content-end.flex-wrap.ml-auto {
    justify-content: center!important;
    font-family: 'Roboto Condensed';
    padding: 8px 0;
    margin: 0;
    width: 100%;
    border-top: #06c65c solid 3px;
    margin-top: 30px;
}



.path-course-view #page-header .context-header-right {
    width: 100%;
    margin-left: 0;
    padding-right: 15px;
}

@media (min-width: 1199px) {
.path-course-view #page-header .context-header-right {
    width: 100%;
    margin-left: 0;
    padding-right: 15px;

}
}

.page-context-header  {
    width: 100%;
    height: 12vw;
    background-image: url(https://virtual.flacso.org.ar/theme/gflacso/vale/ivan/banner-ecym.png)!important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #06c65c;

}
    
.page-context-header:before {
    content: "";
    float: left;
    padding-bottom: 8.2%;
  }

.page-context-header:after {
    content: "";
    display: table;
    clear: both;
  }


.page-header-headings.titulo_curso.medium, .page-header-headings.titulo_curso.big  {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.titulo_curso h2, .titulo_curso h1
{
    text-align: right!important;
    font-family: 'Roboto Condensed' !important;
    color: #fff !important;
    font-size: 2.8vw !important;
    font-weight: 400 !important;
    padding-right: 30px!important;
    margin: 0px !important;
    border-radius: 0px !important;
    background: none;
    line-height: 110%!important;
    max-width: 70%;
    float: right;
}

#region-main {
    border: 0!important;
}

.block .header {
    background-color: #06c65c;
    color: #fff;
    font-family: 'Roboto Condensed';
}

.block .header h5 {
    font-size: 18px;
    font-weight: 400;
}

.block .block-action {
    margin: .6rem;
}

.block .block-action:before {
    content: "\2303";

    color: #fff;
    font-size: 28px;
}

#course-footer {
    border-top: 12px solid #152F4E;
    padding: 10px;
}

@media (min-width: 768px) {
.col-md-3 {
    flex: auto;
    max-width: 100%;
}
}

@media only screen and (max-width: 768px) {
    .page-context-header {
       background-color: #06c65c;
       height: 11.6vh;
       background-size: cover;
}
   
   .titulo_curso h2, .titulo_curso h1 {
    font-weight: 400 !important;
    padding: 0 10px 0 0!important;
      max-width: 65%;
    }

      .titulo_curso h2, .titulo_curso h1 {
        font-size: 1.14em!important;
        font-family: 'Roboto Condensed';

    }

    .page-header-headings.titulo_curso.medium, .page-header-headings.titulo_curso.big  {
        justify-content: flex-end;    
    }

}

.nav.nav-tabs.mb-3 {
    
    max-width: 800px;
    margin: auto!important;
      justify-content: center;
}

.course-content ul li.section.main {
    border: none!important;
}

@media (min-width: 576px) {
.course-content ul.section {
margin: 0;
    }
}

.course-content ul.section {
    margin: 0;
}

ul.section.img-text {
    padding: 0;
    margin: 0;
}

.section .activity.modtype_label.label {
    padding: 0;
}


.section .activity .contentwithoutlink>a, .section .activity .activityinstance>a {
    display: inline-block;
    text-indent: 0; 
    padding-left: 0;
}

.section .activity .availabilityinfo, .section .activity .contentafterlink {
    margin: 0;
}

.resumen {
    margin-top: 1em;
}

.resumen img {
    float: left;
    margin-bottom: 1em;
    margin-right: 1.2em;
    margin-top: .5em;
    width: 200px;
    height: 200px;
    object-fit: cover!important;
    border: 3px solid #ff6131;
    }

    .resumen img:hover {

        filter:opacity(60%);
    }

.content, .glossarydisplay {
    max-width: 720px;
    margin: auto!important;
}

section#region-main {
    overflow: hidden;
}

.complete {
    max-width: 720px;
    margin: auto;
}

.glosario {
    font-size: 18px;
	line-height: 2em;
	padding: 1.1em;
    margin-bottom: 1.5em;
    color:  #1a1a1a;
}
.glosario img {
    float: left;
    margin-bottom: 1em;
    margin-right: 2em;
    width: 16em;
    height: 16em;
    object-fit: cover;

    -webkit-filter: grayscale(100%); filter: grayscale(100%);
}
.grt {
    max-width: 800px;
    font-family: 'Open Sans';
    font-size: 21px!important;
    line-height: 160%;
    padding: 0 2em!important;
    color: #333!important;
    text-align: left!important;
    margin: auto;
    font-weight: 400;
}


.grt a.autolink.glossary,a.autolink.glossary:visited,a.autolink.glossary:hover,a.autolink.glossary:active, a.linkpop, a.linkpop:visited {
    margin-top: 1.715em;
    font-size: 21px!important;
    line-height: 1.72em!important;
    cursor: help;
}

h1 {
    margin-bottom:0;
}
.grt h1 {
    font-family: 'Roboto Condensed';
	font-size: 2.05em!important;
	line-height: 1.72em!important;
	margin-bottom: 1;
    margin-top: 0;
    color: #06c65c;
}
.grt .title {
    font-family: 'Roboto Condensed';

	font-size: 2.62em;
	line-height: 0.5em;
	margin-bottom: 1.715em;
    margin-top: 0;
    color: #06c65c;
}
.grt h2 {
    font-family: 'Roboto Condensed';

	font-size: 1.4em;
	line-height: 120%;
	margin-bottom: 1em;
    margin-top: 0;
    color: #06c65c;
}

.grt .titulo_clase {
    font-family: 'Roboto Condensed';

	font-size: 1.2em;
	line-height: 120%!important;
    color: #06c65c;
    font-weight: 300;
    text-indent: 0px;
}

.titulo_clase {
    font-family: 'Roboto Condensed';

    font-size: 1.5em;
    line-height: .8em!important;
    color: #06c65c;
    font-weight: 400;
    text-indent: 0px;
    font-family: 'Roboto Condensed';
}

.breadcrumb-item .grt .titulo_clase {
    font-family: 'Roboto Condensed';

	font-size: 13px;
	line-height: 17px;
    color: #fff;
    font-weight: 700;
    text-indent: 0px;
}

.breadcrumb-item .grt {
	font-size: 13px;
	line-height: 17px;
    color: #fff;
    font-weight: 700;
    text-indent: 0px;
}
.breadcrumb-item .grt .titulo_clase small {
	font-size: 13px;
	line-height: 17px;
    color: #fff;
    font-weight: 700!important;
    text-indent: 0px;
}

.grt .clase {
    font-family: 'Roboto Condensed';

    color: #fff;
    font-size: 3.3em;
  display: inline-block;
    font-weight: 300;
    overflow: hidden;
    width: 100%;
    height: 0.69em;
    background-color: #06c65c;
    margin-bottom: 0.1em;
    border-bottom: 7px solid #ff6131;
    padding-bottom: .68em;
}
.grt .clase small {
    color: #06c65c;
    font-weight: 300;
line-height: 1.4;
font-size: 65%;
}

.info {
 font-size: 1.2em;
	line-height: 120%;
    color: #ff6131;
    text-indent: 0px;
    overflow: hidden;
    font-family: 'Roboto Condensed';
    font-weight: bold;
}
.info small {
    font-weight: 300!important;
    color: #06c65c;
}
a:hover {
    text-decoration: none!important;
    }

.grt .titulo_clase small {
    font-weight: 400!important;
    color: #06c65c;
        line-height: 120%!important;
        font-size: 75%;
        font-family: 'Roboto Condensed';

}
.titulo_clase small {
    font-weight: 300!important;
    color: #06c65c;
        font-size: 80%;

}
.grt h2, .grt h1, .grt h3 small {
    font-weight: 300!important;
    font-family: 'Roboto Condensed';

}
.grt small {
    line-height: 160%;
    color: #808088;
}
.grt h3 {
	font-size: 1.3em;
	line-height: 1.72em;
	margin-bottom: 1;
        margin-top: 0;
        font-family: 'Roboto Condensed';

}
.grt h4 {
	font-size: 1em;
	line-height: 1.72em;
	font-weight: bold;
	margin-bottom: 1.715em;
        margin-top: 0;
        font-family: 'Roboto Condensed';

}
.grt p, .grt ul, .grt ol, .grt blockquote, .grt pre, .grt .alert, .grt .note, .grt .box, .grt .footnotes {
	margin-bottom: 1.5em;
	margin-top: 1.5em;

}
.grt ul, .grt ol {
	margin-left: 1.715em;
}
.grt li {
	margin-bottom: 0.7em;
}

.grt .descripcion_modulo {
    background-color: #d4ded9;
    font-size: 0.8em!important;
    width: 100%;
    color: #333;
    line-height: 140%!important;
    overflow: hidden;
}

.descripcion_modulo {
    background-color: #d4ded9;
    font-size: 0.96em!important;
    width: 100%;
    color: #333;
    line-height: 140%!important;
    overflow: hidden;
    padding: 2em 4em;
}


.descripcion_modulo h2 {
    font-size: 1.4em;
    line-height: 120%;
}

.grt .disparador {
    background-color: #d4ded9;
    font-size: 0.7em;
    width: 100%;
    color: #06c65c;
    line-height: 140%;
    padding: 1em;
}
.grt .destacado {
    background-color: #ecf5f0;
    margin: auto;
    color: #333;
    line-height: 160%;
    padding: 1em 4em 3em!important;
    font-weight: 300;
    border: solid 3px #06c65c;
}
.grt .links {
    background-color: #d4ded9;
    margin: auto;
    color: #06c65c;
    line-height: 1.7em;
    padding: 1em!important;

}
.grt .nota {
    background-color: #d4ded9;

    color: #06c65c;
    line-height: 160%;
    padding: 2em!important;
    font-size: .9em;

}


.grt blockquote {
    padding-left: 4em;
    color: #333;
    margin: 3em 0;
    padding-right: 4em;
    font-style: italic;
    background-color: #ffe2da;
    padding-bottom: 2em;

}

.grt .descripcion_modulo p {
    margin: 0!important;
    padding: 0 2em 2em 2em!important;
}

.grt .descripcion_modulo h2 {
    margin: 0!important;
    padding: 1.4em!important;
    font-family: 'Roboto Condensed';

}


.grt .descripcion_modulo h1 {
    	font-size: 2.05em!important;
	line-height: 1.72em!important;
    font-family: 'Roboto Condensed';

}
.grt .disparador p {
    margin: 0;

}

.grt blockquote footer, .grt blockquote footer a {
    color: #ff6131;
    text-decoration: none;
    padding-top: 1em;
    font-weight: bold;
    margin-right: 1em;
}

.grt .recuadro {
    font-size: 0.9em;
    line-height: 1.72em;
}

.grt .recuadro p {
   margin-bottom: 0!important;
    font-size: 90%;
}

.grt blockquote footer::before {
    content: "\2014";
  }

.grt blockquote::before {
    content: "\201C";
    color: #06c65c;
    font-size: 10em;
    position: relative;
    top: 0.5em;
    left: -0.15em;
    font-weight: bold;
    font-family: sans-serif;

  }

.grt blockquote p {
    padding-top: 0;
    margin-bottom: 0;

}

.grt code, .grt pre, .grt kbd {
	font-size: 0.805em;
      font-family: Menlo, Consolas, Monaco, "Andale Mono", Courier, Verdana, sans-serif;
      word-wrap: break-word;

}
.grt code {
	background-color: rgba(0,0,0,0.08);
	padding: 0.24em 0.3em;
	margin: 0 1px;
}

.grt .footnotes {
	font-size: 0.81em;
	line-height: 30px;
	padding-top: 1.05em;
	border-top: 1px dotted rgba(0,0,0,0.15);
}
.grt .footnotes p {
	margin-bottom: 1.05em;
}
.grt ul ul, .grt ul ol, .grt ol ul, .grt ol ol, .grt blockquote.right p, .grt blockquote.left p, .grt .alert :last-child, .grt .note :last-child, .grt .box :last-child, .grt .footnotes :last-child {
	margin-bottom: 0;
}

.grt div.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
    margin: 2em 1em;
    }

.grt div.container {
  padding: 0.7em;
}

.grt div.container p {
	font-size: 0.7em;
	padding: 0;
	color: #555;
	line-height: 1.7em;
    margin: 0;
}

.grt div.polaroid img {
	width: 100%;
    height: auto;
    padding: 1.5em 1.5em 0 1.5em;
}

.grt .biblio {
    text-indent: -3em;
    padding-left: 3em;
}

.filemanager {
    max-width: 720px;
    margin: auto;
}

span.fp-filename {
    font-size: 16px!important;
display: block;
    line-height: 22px;
    padding-left: 35px;
}

.grt .center {
  text-align: center;
}


.grt .row {
    overflow: hidden;
    line-height: 1em;
    margin-left: 0;
    margin-right: 0;
}
.grt .col-md-12 {
    padding: 0.95em 0;
    background-color: #06c65c;
    text-align: center;
    color: #fff;
    font-family: 'Roboto Condensed';
    font-weight: bold;
}
.grt .col-md-8 {
    color: #444;
    font-size: 0.77em;
    padding: 0.5em;
    background-color: #d4ded9;
}
#otrafila {
    background-color: #999;
    color: #fff!important;
font-weight: bold;
}
.grt .col-md-4 {
    color: #444;
    font-size: 0.77em;
    padding: 0.5em;
    background-color: #d4ded9;
    font-weight: 600;
    font-family: 'Roboto Condensed';
}

.grt .col-md-4::before {
  content: '';
  position: relative;
  left: 0px;
  top: 0px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;
  border-left: 8px solid #ff6131;

}

.grt .far {
    text-indent: -22px;
    font-size: 0.9em;
    padding-right: 20px;
}

[data-title] {
  position: relative;
  cursor: help;
  text-decoration: none;
}

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -52px;
  display: inline-block;
  padding: 3px 6px;
  background: #000;
  color: #fff;
  font-size: 0.7em;
  white-space: nowrap;
}

[data-title]:hover::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 8px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;
  border-bottom: 8px solid #000;
}

.d-flex.border.p-2.mb-2.forumpost.focus-target {
    padding: 10px 30px!important;
}


.w-100 {
    
    font-size: 18px;
    line-height: 160%;
 margin-right: 0;
    flex-wrap: nowrap;
    padding: 0;
    overflow: hidden;
    text-overflow: clip;
    font-family: 'Open Sans';
}

.w-100 img {
max-height: 90vh;
object-fit: contain;
padding: 0;
}



.vtl {
  position: relative;
  padding: 5px 0px 5px 5px;
  max-width: 250px;
  font-family: 'Roboto Condensed';
}

.vtl::before {
  content: '';
  width: 5px;
  background-color: #ff6131;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  z-index: 1;
}
div.ewrap {
  padding: 5px 0;
  position: relative;
  width: 100%;
}

div.event {
  padding: 5px 5px 10px 15px;
  background-color: #06c65c;
  position: relative;
}


strong.date {
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
}
p.text {
    margin: 0;
    color: #fff;
    font-size: 1em!important;
    line-height: 100%;
}

div.ewrap::after {
  content: '';
  background: #fff;
  border: 4px solid #ff6131;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 22%;
  left: -7px;
  z-index: 1;
}


.activity img.activityicon {
    display: none;
}


#page-mod-book-view .navtop {
    display: none!important;
}


span.arrow {
    display: none;
}

a.booknext:after {
    padding: 0 0 0 5px!important;
}
a.bookprev:before {
    padding: 0 5px 0 0!important;
}
a.bookprev, a.booknext {
  max-width: 50%!important;
}
.navbottom.navtext .chaptername {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    display: inline-block;
}

.navbottom a {
    color: #666;
    display: inline-flex!important;
}
.navtop {
    display: inherit!important;
    visibility: hidden!important;
}
a.bookexit:after{
    display: none!important;
}
h3 {
    line-height: 1em!important;
    color: #06c65c!important;
    text-align: left!important;
    font-size: 1.61em!important;
    margin-bottom: 0!important;
    padding: 0!important;
    font-weight: 300!important;
    font-family: 'Roboto Condensed';
}

.path-mod-book .book_content>h3:first-child {
    line-height: 1em!important;
    color: #06c65c!important;
    text-align: left!important;
    font-size: 2.61em!important;
    margin-bottom: 0!important;
    font-weight: 300!important;
    font-family: 'Roboto Condensed';
    max-width: 720px!important;
    margin: auto;
}

.path-mod-book .book_content > h3:first-child + h4 {
    color: #06c65c!important;
    text-align: left!important;
    font-size: 1.91em!important;
    margin-bottom: 0!important;
	padding: 1.05em 0!important;
    font-weight: 300!important;
    font-family: 'Roboto Condensed';
    max-width: 720px!important;
    margin: auto;
}

.mb-2 {
    max-width:720px;
    margin: auto;
}



.h6 {
    font-size: 1.2em!important;
}


@media all and (min-width: 872px) {
	.grt {
		padding: 1.715em;
	}
    }
@media all and (max-width: 600px) {
	.grt {
		font-size: 15px!important;
        padding: 0 1em!important;
	}
    .grt a.autolink.glossary,a.autolink.glossary:visited,a.autolink.glossary:hover,a.autolink.glossary:active, a.linkpop, a.linkpop:visited {
        font-size: 15px!important;
    }

    .grt .descripcion_modulo {
        box-shadow: none;
    }

    .recuadro_blanco_todo_redondeado {
        padding: 1em!important;
    }

    .descripcion_modulo {
        box-shadow: none;
        padding: 0 2em 1em;

    }

    .glosario {
        font-size: 15px!important;
    }
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
    
    li#section-2 {
        padding: 0 10px;
    }
 

    #region-main {
        padding-left: 0; 
        padding-right: 0; 
    }

    #region-main {
        padding: 0;
    }

    .w-100 {
        margin:0;
        font-size: 15px;
        padding: 0 5px;
        } 
    
        .path-course-view #region-main {
    padding-left: 10px; 
    padding-right: 10px;
}

    .course-content ul.section  {
    padding-left: 0!important;
    margin: 0!important;
}


    #region-main ul {
    margin: 1rem 0!important;
    padding-left: 0!important;
}

    .course-content ul.section {
    margin: 0!important;
    padding-left: 0!important;
}

    .col12, .col-xs-12 {
        padding: 5px!important;
}


h1, .h1 {
    font-size: 1.8rem;
    margin-bottom: 0;
    font-family: 'Roboto Condensed';

}
}

#region-main h2 {
    display: block;
    max-width: 720px;
    margin: auto;
    padding-top: 20px;
    font-family: 'Roboto Condensed';
    padding-bottom: 30px;
}

object#resourceobject {
    max-width: 720px;
    width: 100%!important;
    height: 85vh!important;
}

h3.discussionname {
    max-width: 720px;
    margin: auto;
}

.d-flex.flex-wrap.mb-1 {
    max-width: 720px;
    margin: auto;
    font-size: .85em;
}

form.form.form-inline.mb-1 {
    max-width: 720px;
    margin: auto;
}

.singlebutton {
    display: flex;
}

a.printicon {
    display: flex;
    max-width: 720px;
    margin: auto;
}

a.btn.btn-link {
    padding: 10px!important;
}

.path-mod-forum .discussion-nav {
    max-width: 720px;
    margin: auto!important;
}

.d-flex.flex-wrap.flex-row-reverse.m-b-1.text-right {
    max-width: 720px;
    margin: auto;
}

.forumsearch {
    display: none;
}



.recuadro_blanco_todo_redondeado {
    background-color: #fff;
    border: 3px solid #06c65c;
    border-radius: 0;
    padding: 3em;
    text-align: center;
    font-family: 'Roboto Condensed';
}
 
.box.py-3.generalbox.lightbox-gallery.clearfix.autoresize {
    max-width: 720px;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.lightbox-gallery .lightbox-gallery-image-container {
    display: inline-block;
    margin: 0;
}

.lightbox-gallery .lightbox-gallery-image-frame {
    -webkit-transition: box-shadow 150ms,border-color 150ms,background-color 150ms,color 150ms;
    background-color: #fff;
    border-radius: 0;
    border: 3px solid #06c65c;
    color: #696969;
    display: inline-block;
    margin: 0;
    text-align: center;
    -o-transition: box-shadow 150ms,border-color 150ms,background-color 150ms,color 150ms;
    transition: box-shadow 150ms,border-color 150ms,background-color 150ms,color 150ms;
    width: 100%;
}

.lightbox-gallery .lightbox-gallery-image-thumbnail {
    border-radius: 0;
    border: 0;
    display: block;
    margin: 5px;
    max-width: 22vh!important;
    min-width: 22vh;
}
