.container {
    width: calc(100% - 1px)!important;
    padding-right: 0!important; 
    padding-left: 0!important; 
}

.col-sm-4, .col-md-4 {
    padding: 5px!important;
}

.col-sm-6 {
    padding: 5px;
}

.instagram-media {
    min-width: 100%!important;
    height: 100%;
    margin-bottom: 65%!important;
}

